#home-page {
    background-image: url("../images/backgroundBlurred.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.center-strip {
    background-color: rgba(100, 100, 100, 0.6);
    /* background-color: #ffb3008c; */
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-buttons {
    height: 10%;
    background-color: white;
    width: 100%;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-buttons > a {
    /* background-color: rgb(120, 180, 255); */
    /* background-color: #FFC125; */
    background-color: #286c31;
    border-radius: 8%;
    /* font-weight: bold; */
    margin: 0 10%;
    height: 80%;
    width: 10%;
    border: 0;
    outline: 0;
    letter-spacing: 3px;
    font-size: 1em;
    justify-content: center;
    display: flex;
    align-items: center;
    color: white;
}

.home-buttons > a:hover {
    color: inherit;
}

.center-strip > span {
    color: white;
    font-size: 2em;
    letter-spacing: 5px;
}